@{
  ViewData["Title"] = "Calendar";
  var data = Html.Raw(ViewData["meetings"]);
}

@* <iframe src="https://calendar.google.com/calendar/embed?src=02751f6ac646e07e64c6e7024ab14a5727edb9a5fb194814a23038a8cbf91f38%40group.calendar.google.com&ctz=America%2FToronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> *@


<div id='calendar'></div>

<div id="errorBox" class="alert alert-danger d-none">
  <p>There was an error loading the calendar! Try <a href="?refresh">refreshing</a> this page</p>
</div>

@section Scripts {
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.1/index.global.min.js "></script>
  <script src="~/js/calendar.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      loadCalender(@data)
    })
  </script>
}
