@{
    ViewData["Title"] = "Gsr Dashboard";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

<div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card text-center h-100">
                <div class="card-header">
                    <h4>New Meeting?</h4>
                </div>
                <div class="card-body">
                    <i class="fa-solid fa-calendar-plus fa-4x p-4"></i>
                    <p>You can submit a new meeting to be published</p>
                    <div>
                        <a asp-controller="ManageMeetings" asp-action="Create" class="btn btn-primary btn-sm">Create Meeting</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card text-center h-100">
                <div class="card-header">
                    <h4>Meetings Status</h4>
                </div>
                <div class="card-body">
                    <i class="fa-solid fa-calendar-check fa-4x p-4"></i>
                    <p>Once your meetings are approved they will be automatically publihed</p>
                    <div>
                        <a asp-controller="ManageMeetings" asp-action="Index" class="btn btn-primary btn-sm">Check Meetings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
