@{
    ViewData["Title"] = "Member Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    @if (User.IsInRole("member"))
    {
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card text-center ">
                    <div class="card-header">
                        <h4>Become GSR?</h4>
                    </div>
                    <div class="card-body">
                        <p>As a GSR you will be able to submit meetings and events to be published on the website</p>
                        <div>
                            <a asp-controller="ManageUserRequests" asp-action="Create" class="btn btn-primary btn-sm">Apply for GSR</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card text-center ">
                    <div class="card-header">
                        <h4>Account</h4>
                    </div>
                    <div class="card-body">
                        <p>If you would like to submit a GSR application you will need to complete your information.</p>
                        <div>
                            <a asp-controller="ManageUserRequests" asp-action="Create" class="btn btn-primary btn-sm">Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }



    @if (User.IsInRole("gsr"))
    {
        <a asp-controller="ManageMeetings" asp-action="Index" class="btn btn-outline-primary btn-sm">Meetings</a>
    }

    @if (User.IsInRole("admin"))
    {
        <a asp-controller="ManageUsers" asp-action="Index" class="btn btn-outline-primary btn-sm">Users</a>
        <a asp-controller="ManageTags" asp-action="Index" class="btn btn-outline-primary btn-sm">Tags</a>
        <a asp-controller="ManageLanguages" asp-action="Index" class="btn btn-outline-primary btn-sm">Languages</a>
        <a asp-controller="ManageMeetingTypes" asp-action="Index" class="btn btn-outline-primary btn-sm">Meeting Types</a>
    }

</div>
