@{
    ViewData["Title"] = "Manage Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
@if (TempData["rolesSavedAdmin"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["rolesSavedAdmin"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
</div> 
