@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Admin Dashboard</h1>
    <p>A place where the admin can see the most recent and relevant info and access shortcuts</p>
    <ul>
        <li><a asp-page="Requests"></a>Manage Requests</li>
        <li><a asp-page="Meetings"></a>Manage Meetings</li>
        <li><a asp-page="Users"></a>Manage Users</li>
        <li><a asp-page="UserRoles"></a>Manage UserRoles</li>
        <li><a asp-page="Tags"></a>Manage Tags</li>
        <li><a asp-page="Languages"></a>Manage Languages</li>
    </ul>
</div>
