@{
    ViewData["Title"] = "Member Dashboard";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

<div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card text-center h-100">
                <div class="card-header">
                    <h4>Become GSR?</h4>
                </div>
                <div class="card-body">
                    <i class="fa-solid fa-user-check fa-4x p-4"></i>
                    <p>As a GSR you will be able to submit meetings and events to be published on the website</p>
                    <div>
                        <a asp-controller="ManageUserRequests" asp-action="Create" class="btn btn-primary btn-sm">Apply for GSR</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card text-center h-100">
                <div class="card-header">
                    <h4>Account</h4>
                </div>
                <div class="card-body">
                    <i class="fa-solid fa-user-gear fa-4x p-4"></i>
                    <p>If you would like to submit a GSR application you will need to complete your information.</p>
                    <div>
                        <a asp-controller="ManageUserRequests" asp-action="Create" class="btn btn-primary btn-sm">Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
