@{ ViewData["Title"] = "How It Works"; }

<div class="card mb-5" style="">
  <div class="card-body">
    <h3 class="card-title">How it Works</h3>
    <p class="" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 8pt; margin-left: 0cm; line-height: 200%; font-size: 15px; font-family: 'Calibri', sans-serif"></p>
    <p style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 8pt; margin-left: 0cm; line-height: 130%; font-size: 20px; font-family: 'Calibri', sans-serif">
      The practice of rigorous honesty, of opening our hearts and minds, and the willingness to go to any lengths to have a spiritual awakening are essential to our recovery. Our old ideas and ways of life no longer work for us. Our suffering shows us that we need to let go absolutely. We surrender
      ourselves to a Power greater than ourselves. Here are the steps we take which are suggested for recovery:
    </p>
    <ol style="list-style-type: decimal; margin-left: 44px">
      <li class="mt-2" style="font-weight: bold">We admitted we were powerless over marijuana, that our lives had become unmanageable.</li>
      <li class="mt-2" style="font-weight: bold">Came to believe that a Power greater than ourselves could restore us to sanity.</li>
      <li class="mt-2" style="font-weight: bold">Made a decision to turn our will and our lives over to the care of God, as we understood God.</li>
      <li class="mt-2" style="font-weight: bold">Made a searching and fearless moral inventory of ourselves.</li>
      <li class="mt-2" style="font-weight: bold">Admitted to God, to ourselves, and to another human being the exact nature of our wrongs.</li>
      <li class="mt-2" style="font-weight: bold">Were entirely ready to have God remove all these defects of character.</li>
      <li class="mt-2" style="font-weight: bold">Humbly asked God to remove our shortcomings.</li>
      <li class="mt-2" style="font-weight: bold">Made a list of all persons we had harmed, and became willing to make amends to them all.</li>
      <li class="mt-2" style="font-weight: bold">Made direct amends to such people wherever possible, except when to do so would injure them or others.</li>
      <li class="mt-2" style="font-weight: bold">Continued to take personal inventory and when we were wrong, promptly admitted it.</li>
      <li class="mt-2" style="font-weight: bold">Sought through prayer and meditation to improve our conscious contact with God, as we understood God, praying only for knowledge of God&rsquo;s will for us and the power to carry that out.</li>
      <li class="mt-2" style="font-weight: bold">Having had a spiritual awakening as the result of these steps, we tried to carry this message to marijuana addicts and to practice these principles in all our affairs.</li>
    </ol>
    <p style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 8pt; margin-left: 0cm; line-height: 130%; font-size: 20px; font-family: 'Calibri', sans-serif">
      Do not be discouraged; none of us are saints. Our program is not easy, but it is simple. We strive for progress, not perfection. Our experiences, before and after we entered recovery, teach us three important ideas:
    </p>
    <p style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 8pt; margin-left: 0cm; line-height: 107%; font-size: 20px; font-family: 'Calibri', sans-serif">&bull;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;That we are marijuana addicts and cannot manage our own lives;</p>
    <p style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 8pt; margin-left: 0cm; line-height: 107%; font-size: 20px; font-family: 'Calibri', sans-serif">&bull;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;That probably no human power can relieve our addiction; and</p>
    <p style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 8pt; margin-left: 0cm; line-height: 107%; font-size: 20px; font-family: 'Calibri', sans-serif">&bull; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; That our Higher Power can and will if sought.</p>
  </div>
</div>
