@{ ViewData["Title"] = "Twelve Traditions"; }

<div class="card mb-5" style="">
  <div class="card-body">
    <h3 class="card-title">Twelve Traditions</h3>
    <ol style="list-style-type: decimal; margin-left: 44px">
      <li class="mt-3">
        <strong><span style="line-height: ; font-size: 15pt; line-height:  ;">Our common welfare should come first; personal recovery depends upon MA unity.</span></strong>
      </li>
      <li class="mt-3">
        <strong><span style="line-height: ; font-size: 15pt; line-height:  ;">For our group purpose there is but one ultimate authority, a loving God whose expression may come through in our group conscience. Our leaders are but trusted servants; they do not govern.</span></strong>
      </li>
      <li class="mt-3">
        <strong><span style="line-height: ; font-size: 15pt; line-height:  ;">The only requirement for membership is a desire to stop using marijuana.</span></strong>
      </li>
      <li class="mt-3">
        <strong><span style="line-height: ; font-size: 15pt; line-height:  ;">Each group should be autonomous except in matters affecting other groups or MA as a whole.</span></strong>
      </li>
      <li class="mt-3">
        <strong><span style="line-height: ; font-size: 15pt; line-height:  ;">Each group has but one primary purpose, to carry its message to the marijuana addict who still suffers.</span></strong>
      </li>
      <li class="mt-3">
        <strong><span style="line-height: ; font-size: 15pt; line-height:  ;">MA groups ought never endorse, finance, or lend the MA name to any related facility or outside enterprise, lest problems of money, property, and prestige divert us from our primary purpose.</span></strong>
      </li>
      <li class="mt-3">
        <strong><span style="line-height: ; font-size: 15pt; line-height:  ;">Every MA group ought to be fully self-supporting, declining outside contributions.</span></strong>
      </li>
      <li class="mt-3">
        <strong><span style="line-height: ; font-size: 15pt; line-height:  ;">Marijuana Anonymous should remain forever nonprofessional, but our service centers may employ special workers.</span></strong>
      </li>
      <li class="mt-3">
        <strong><span style="line-height: ; font-size: 15pt; line-height:  ;">MA, as such, ought never be organized, but we may create service boards or committees directly responsible to those they serve.</span></strong>
      </li>
      <li class="mt-3">
        <strong><span style="line-height: ; font-size: 15pt; line-height:  ;">Marijuana Anonymous has no opinion on outside issues; hence the MA name ought never be drawn into public controversy.</span></strong>
      </li>
      <li class="mt-3">
        <strong
          ><span style="line-height: ; font-size: 15pt; line-height:  ;"
            >Our public relations policy is based upon attraction rather than promotion; we need always maintain personal anonymity at the level of press, radio, TV, film, and other public media. We need guard with special care the anonymity of all fellow MA members.</span
          ></strong
        >
      </li>
      <li class="mt-3">
        <strong
          ><span style="line-height: ; font-size: 15pt; line-height:  ;"
            >Anonymity is the spiritual foundation of all our traditions, ever reminding us to place principles before personalities.If we are painstaking about this phase of our development, we will be amazed before we are half way through.</span
          ></strong
        >
      </li>
    </ol>
  </div>
</div>
