@{
  ViewData["Title"] = "Twelve Questions";
}


<div class="card" style="">

  <div class="card-body">
    <h3 class="card-title justify-to-center">The Twelve Questions</h3>
    <p class="card-text" >
        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><em><u><span style="font-size:24px;line-height:107%;">The following questions may help you determine whether marijuana is a problem in your life.</span></u></em></p>
<ol style="list-style-type: decimal;margin-left:44px;">
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">Has using marijuana stopped being fun?</span></strong></li>
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">Do you ever get high alone?</span></strong></li>
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">Is it hard for you to imagine a life without marijuana?</span></strong></li>
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">Do you find that your friends are determined by your marijuana use?</span></strong></li>
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">Do you use marijuana to avoid dealing with your problems or to cope with your feelings?</span></strong></li>
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">Has your marijuana use led to financial difficulties and/or legal consequences?</span></strong></li>
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">Does your marijuana use let you live in a privately defined world?</span></strong></li>
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">Have you ever failed to keep promises you made about cutting down or controlling your use of marijuana?</span></strong></li>
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">Has your use of marijuana caused problems with your health, memory, concentration, or motivation?</span></strong></li>
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">When your stash is nearly empty, do you feel anxious or worried about how to get more?</span></strong></li>
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">Do you plan your life around your marijuana use?</span></strong></li>
    <li class="mt-3"><strong><span style="line-height:;font-size:15.0pt;line-height:;;">Have friends or relatives ever complained that your using is damaging your relationship with them?</span></strong></li>
</ol>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:27px;line-height:107%;">If you answered yes to any of the above questions, you may have a problem with marijuana.</span></p>
</p>

  </div>
</div>