@{
    ViewData["Title"] = "How It Works";
}


<div class="card" style="">

  <div class="card-body">
    <h3 class="card-title justify-to-center">The Promises</h3>
    <p class="card-text" >
        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:150%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size: 20px;"><strong>If we are painstaking about this phase of our development, we will be amazed before we are half way through.</strong></span></p>
        <ol style="list-style-type: decimal;margin-left:40.2px;">
    <li class="mt-2" style="font-weight:bold;">We are going to know a new freedom and a new happiness.</li>
    <li class="mt-2" style="font-weight:bold;">We will not regret the past nor wish to shut the door on it.</li>
    <li class="mt-2" style="font-weight:bold;">We will comprehend the word serenity.</li>
    <li class="mt-2" style="font-weight:bold;">We will know peace.</li>
    <li class="mt-2" style="font-weight:bold;">No matter how far down the scale we have gone, we will see how our experience can benefit others.</li>
    <li class="mt-2" style="font-weight:bold;">That feeling of uselessness and self-pity will disappear.</li>
    <li class="mt-2" style="font-weight:bold;">We will lose interest in selfish things and gain interest in our fellows.</li>
    <li class="mt-2" style="font-weight:bold;">Self-seeking will slip away.</li>
    <li class="mt-2" style="font-weight:bold;">Our whole attitude and outlook on life will change.</li>
    <li class="mt-2" style="font-weight:bold;">Fear of people and economic insecurity will leave us.</li>
    <li class="mt-2" style="font-weight:bold;">We will intuitively know how to handle situations which used to baffle us.</li>
    <li class="mt-2" style="font-weight:bold;">We will suddenly realize that God is doing for us what we could not do for ourselves.</li>
</ol>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:150%;font-size:20px;font-family:"Calibri",sans-serif;'>Are these extravagant promises? We think not. They are being fulfilled among us&mdash;sometimes quickly, sometimes slowly. They will always materialize if we work for them.</p>
</p>

  </div>
</div>