@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@inject IConfiguration configuration
@{ ViewData["Title"] = "Seek Help"; }

<h1>Seek Help</h1>

<div class="card border-3 shadow mb-5">
  <div class="container">
    <div class="row">
      <div class="col m-5 justify-content-center">
        <h2>@SharedHtmlLocalizer["seek_help_title"]</h2>
        <p>
          @SharedHtmlLocalizer["seek_help_body"]
        </p>    
        <div class="card border-3 shadow m-5 ">
          <div class="container ">
            <div class="row ">
              <div class="col  p-3 justify-content-center">
                <h5>@SharedHtmlLocalizer["email_us"] :</h5>
                <p><a href="mailto:malifewithhope@gmail.com">malifewithhope@gmail.com</a></p>
              </div>
            </div>
          </div>
        </div>   
        <div class="card border-3 m-5 shadow">
          <div class="container">
            <div class="row">
              <div class="col p-3 justify-content-center">
                <h5>@SharedHtmlLocalizer["call_us"] :</h5>
                <p><a href="tel:514-677-5108">514-677-5108</a></p>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <div class="col m-5">
        <div class="d-flex justify-content-center">
          <img class="img-fluid" src="~/images/helping_hand.jpg" width="450" alt="kid helping anothe kid climb mountain" />
        </div>
      </div>
    </div>
  </div>
</div>
