@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<h3>
    Please go to email to confirm your account, then <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
</h3>



