@{ ViewData["Title"] = "Literature"; }

<h1>Literature</h1>

<div class="container">
  <div class="col">
    <div class="card border-3 shadow m-4 text-center">
      <div class="card-body">
        <h4 class="card-title">Doctors Opinion</h4>
        <p class="card-text">A <b>MUST</b> read to start this journey</p>
        <div class="d-flex justify-content-center">
          <a href="https://mamontreal.blob.core.windows.net/literature/Doctors_Opinion.pdf" target="_blank"> <button class="btn btn-primary" action="submit">Download</button> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-3 shadow m-4 text-center">
      <div class="card-body">
        <h4 class="card-title">About Sponsorship</h4>
        <p class="card-text">Answers questions about sponsorship</p>
        <div class="d-flex justify-content-center">
          <a href="https://mamontreal.blob.core.windows.net/literature/About_Sponsorship.pdf" target="_blank"> <button class="btn btn-primary" action="submit">Download</button> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-3 shadow m-4 text-center">
      <div class="card-body">
        <h4 class="card-title">Life With Hope</h4>
        <p class="card-text">This book is our main text</p>
        <div class="d-flex justify-content-center">
          <a href="https://mamontreal.blob.core.windows.net/literature/Life_With_Hope.pdf" target="_blank"> <button class="btn btn-primary" action="submit">Download</button> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-3 shadow m-4 text-center">
      <div class="card-body">
        <h4 class="card-title">Detoxing from marijuana</h4>
        <p class="card-text">About detoxing from grass</p>
        <div class="d-flex justify-content-center">
          <a href="https://mamontreal.blob.core.windows.net/literature/Detoxing_From_marijuana.pdf" target="_blank"> <button class="btn btn-primary" action="submit">Download</button> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-3 shadow m-4 text-center">
      <div class="card-body">
        <h4 class="card-title">For the Newcomer</h4>
        <p class="card-text">Info for new people</p>
        <div class="d-flex justify-content-center">
          <a href="https://mamontreal.blob.core.windows.net/literature/For_The_Newcomer.pdf" target="_blank"> <button class="btn btn-primary" action="submit">Download</button> </a>
        </div>
      </div>
    </div>
  </div>
</div>
