@{ ViewData["Title"] = "Seek Help"; }

<h1>Seek Help</h1>

<div class="card border-3 shadow">
  <div class="container">
    <div class="row">
      <div class="col m-5 justify-content-center">
        <h2>Reach out to us</h2>
        <p>
          Our program teaches us that the only way we can stay sober is to help the still suffering marijuana addict. By contacting us you give us the opertunity to stay clean. This can be a difficult step to take, but it may be the most important first step to getting your life back on track. Be
          strong, but do not do it alone
        </p>
        <div class="row">
          <div class="col">
            <div class="card border-3 shadow">
              <div class="container">
                <div class="row">
                  <div class="col m-5 justify-content-center">
                    <h5>Email Us</h5>
                    <p><a href="mailto:malifewithhope@gmail.com">malifewithhope@gmail.com</a></p>
                  </div>
                  <div class="col m-5"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-3 shadow">
              <div class="container">
                <div class="row">
                  <div class="col m-5 justify-content-center">
                    <h5>Call Us</h5>
                    <p><a href="tel:514-677-5108">514-677-5108</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col m-5">
        <div class="d-flex justify-content-center">
          <img src="~/images/helping_hand.jpg" width="450" alt="kid helping anothe kid climb mountain" />
        </div>
      </div>
    </div>
  </div>
</div>
