@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loggedInUser = UserManager.GetUserAsync(User).Result;
}

<div class="text-center">
    <h1 class="display-4">
        @ViewData["Title"]
    </h1>
    <div class="row py-5">

        <div class="col-12 col-md-3">
            <partial name="~/Views/Shared/_DashSidebarPartial.cshtml" />
        </div>
        <div class="col-12 col-md-9 text-start">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}

@* @{IgnoreSection("Scripts");} *@
